<h3>Meeting Information</h3>
<hr />

<div class="row mt-4">
  <div class="col-12">
    <!-- Main meeting details -->
    {{#if meeting}}
      <div class="row">
        <div class="col-md-3 col-12">
          <label for="held-at">Date/Time-Held:</label>
          {{meeting.held_on}}&nbsp;
        </div>
        <div class="col-md-2 col-6 col-sm-6">
          <label for="meeting-type">Meeting-Type:</label>
          {{meeting.meeting_type}}&nbsp;
        </div>
        <div class="col-md-2 col-sm-6">
          <label for="station">Station:</label>
          {{meeting.station}}&nbsp;
        </div>
        <div class="col-md-4 col-9">
          <label for="tag-name">Tag-Name:</label>
          {{meeting.tag}}&nbsp;
        </div>
        <div class="col-md-1 col-3 text-right">
          <div
            class="btn-group"
            role="group"
            aria-label="edit-return-btn-group"
          >
            <a
              class="btn btn-danger btn-sm font-weight-bold"
              href="/meetings/edit/{{meeting.id}}"
              title="Edit"
            >&#9998;</a>
            <a
              class="btn btn-dark btn-sm font-weight-bold"
              href="/meetings"
              title="Return"
            >&#10558;</a>
          </div>
        </div>
      </div>

      {{#if meeting.statistics}}
        {{#each meeting.statistics as |stat index|}}
          <!-- Attendance -->
          <div class="row">
            <div
              class="col-md-12 mt-5 mb-2 pb-2 border-top border-bottom"
              style="background-color: gray;"
            >
              <div class="row">
                <div class="col-md-10 pt-2">
                  <h6 class="font-weight-bold text-white">
                    {{{addSuffix stat.mno}}}
                    Service / Session: [Attendance + Finances]
                  </h6>
                </div>
                <div class="col-md-2 pt-2 text-right">
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="edit-return-btn-group"
                  >
                    <button
                      type="button"
                      class="btn btn-danger btn-sm font-weight-bold"
                      aria-label="Edit"
                    >
                      <span aria-hidden="true" title="Edit">&#9998;</span>
                    </button>
                    <button
                      type="button"
                      class="btn btn-dark btn-sm"
                      aria-label="Delete"
                    >
                      <span
                        aria-hidden="true"
                        title="Delete"
                      >{{! &#128465; }}&times;</span>
                    </button>
                  </div>
                </div>
              </div>
              {{! <hr /> }}
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="male">Male:</label>
              {{stat.male}}&nbsp;
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="female">Female:</label>
              {{stat.female}}&nbsp;
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="children">Children:</label>
              {{stat.children}}&nbsp;
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="converts">N/Converts:</label>
              {{stat.converts}}&nbsp;
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="first-timers">F/Timers:</label>
              {{stat.first_timers}}&nbsp;
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="testimonies">Testimonies:</label>
              {{stat.testimonies}}&nbsp;
            </div>
          </div>

          <!-- Finances -->
          <div class="row">
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="tithe">Tithe:</label>
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.tithe}}<br />
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.tithe_chq}}
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="worship">Worship Offering:</label>
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.worship}}<br />
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.worship_chq}}
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="project">Project Offering:</label>
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.project}}<br />
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.project_chq}}
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="shiloh_sac">Shiloh Sacrifice:</label>
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.shiloh_sac}}<br />
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.shiloh_sac_chq}}
            </div>
            <div class="col-4 col-md-2 col-sm-6 mb-1">
              <label for="thanksgiving">Thanksgiving:</label>
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.thanksgiving}}<br />
              <span class="font-weight-bold">&#8358;</span>
              {{commafy stat.thanksgiving_chq}}
            </div>
          </div>
        {{/each}}
      {{/if}}

      <form
        action="/meetings/{{meeting.id}}/stats"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <!-- Attendance -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <h6 class="pt-5 font-weight-bold">Attendance / Finances (Offerings)</h6>
            <hr />
          </div>
          <div class="form-group col-4 col-md-2">
            <label for="male">Male:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="male"
              name="male"
              required
            />
          </div>
          <div class="form-group col-4 col-md-2">
            <label for="female">Female:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="female"
              name="female"
              required
            />
          </div>
          <div class="form-group col-4 col-md-2">
            <label for="children">Children:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="children"
              name="children"
              required
            />
          </div>
          <div class="form-group col-4 col-md-2">
            <label for="converts">N/Converts:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="converts"
              name="converts"
            />
          </div>
          <div class="form-group col-4 col-md-2">
            <label for="first-timers">F/Timers:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="first-timers"
              name="first_timers"
            />
          </div>
          <div class="form-group col-4 col-md-2">
            <label for="testimonies">Testimonies:</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="testimonies"
              name="testimonies"
            />
          </div>
        </div>

        <div><hr /></div>

        <!-- Finances -->
        <div class="form-row">
          <div class="form-group col-6 col-md-2">
            <label for="tithe">Tithe:</label>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="tithe"
                name="tithe"
                placeholder="Cash"
              />
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="tithe-chq"
                name="tithe_chq"
                placeholder="Cheque"
              />
            </div>
          </div>
          <div class="form-group col-6 col-md-2">
            <label for="worship">Worship Offering:</label>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="worship"
                name="worship"
                placeholder="Cash"
              />
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="worship-chq"
                name="worship_chq"
                placeholder="Cheque"
              />
            </div>
          </div>
          <div class="form-group col-6 col-md-2">
            <label for="project">Project Offering:</label>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="project"
                name="project"
                placeholder="Cash"
              />
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="project-chq"
                name="project_chq"
                placeholder="Cheque"
              />
            </div>
          </div>
          <div class="form-group col-6 col-md-2">
            <label for="shiloh_sac">Shiloh Sacrifice:</label>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="shiloh_sac"
                name="shiloh_sac"
                placeholder="Cash"
              />
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="shiloh_sac-chq"
                name="shiloh_sac_chq"
                placeholder="Cheque"
              />
            </div>
          </div>
          <div class="form-group col-6 col-md-2">
            <label for="thanksgiving">Thanksgiving:</label>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="thanksgiving"
                name="thanksgiving"
                placeholder="Cash"
              />
            </div>
            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">&#8358;</span>
              </div>
              <input
                type="text"
                class="form-control"
                id="thanksgiving-chq"
                name="thanksgiving_chq"
                placeholder="Cheque"
              />
            </div>
          </div>
          <div class="form-group col-6 col-md-2 text-right">
            <label for="submit-btn">&nbsp;</label>
            <div
              class="btn-group btn-group-sm"
              role="group"
              aria-label="submit-cancel-btn-group"
            >
              <button
                type="submit"
                id="submit-btn"
                class="btn btn-danger font-weight-bold"
              >
                Submit
              </button>
              <a
                id="cancel-btn"
                class="btn btn-dark font-weight-bold"
                href="/meetings"
                title="Cancel"
              >&#10558;</a>
            </div>
          </div>
        </div>

        <!-- <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-danger font-weight-bold">Submit</button> -->
        <input type="hidden" name="mno" value="{{meeting.s_cnt}}" />
      </form>
    {{/if}}
  </div>
</div>