<h3>Meetings</h3>
<hr />

<div class="row mt-4">
  <div class="col-12">
    <form method="post" enctype="application/x-www-form-urlencoded">
      <!-- Main meeting details -->
      <div class="form-row">
        <div class="form-group col-md-2 col-6">
          <label for="held-on">Date/Time-Held:</label>
          <input
            type="datetime-local"
            class="form-control"
            value={{{currentDateTime}}}
            id="held-on"
            name="held_on"
            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}"
            required
          />
        </div>
        <div class="form-group col-md-2 col-6">
          <label for="meeting-type">Meeting-Type:</label>
          <select
            id="meeting-type"
            name="meeting_type_id"
            class="custom-select form-control"
            required
          >
            <option selected>Choose...</option>
            {{#if meetingTypes}}
              {{#each meetingTypes as |meetingType index|}}
                <option value={{meetingType.id}}>{{meetingType.name}}</option>
              {{/each}}
            {{/if}}
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="station">Station:</label>
          <select
            id="station"
            name="station_id"
            class="custom-select form-control"
            required
          >
            <option selected>Choose...</option>
            {{#if stations}}
              {{#each stations as |station index|}}
                <option value={{station.id}}>{{station.name}}</option>
              {{/each}}
            {{/if}}
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="tag-name">Tag-Name:</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="tag-name"
              name="tag"
              maxlength="55"
              required
              placeholder="Covenant day of..."
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-danger font-weight-bold">
                Register
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<hr class="mt-0" />

<div class="row">
  {{#if error}}
    <div class="col-12 bg-warning mb-3 font-weight-bold">
      {{error}}
    </div>
  {{/if}}

  {{#if meetings}}
    {{#each meetings as |meeting index|}}
      <div class="col-6 col-md-3 mb-4">
        <div class="card">
          <div class="card-body">
            <!-- <button type="button" class="close" aria-label="Delete">
              <span aria-hidden="true">&times;</span>
            </button> -->
            <h5 class="card-title">{{meeting.meeting_type}}</h5>
            <h6 class="card-subtitle mb-2 text-muted small font-weight-bold">
              {{meeting.held_on}}
            </h6>
            <p class="card-text">{{meeting.tag}}</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <a
              href="meetings/edit/{{meeting.id}}"
              class="card-link text-danger font-weight-bold"
            >Edit</a>
            <a
              href="meetings/{{meeting.id}}"
              class="card-link text-info font-weight-bold"
            >View</a>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

  <div class="col-12">
    {{{showPaginationLinks count currentPage}}}
  </div>
</div>