<h3>Reports Summary</h3>
<hr />

<div class="row">
  <ul>
    <li>
      <a href="{{routePath}}/attendance-analysis" class="text-danger">
        Daily Attendance Analysis
      </a>
    </li>
    <li>
      <a href="{{routePath}}/expenditure-analysis" class="text-danger">
        Daily Expenditure Analysis
      </a>
    </li>
    <li>
      <a href="{{routePath}}/income-analysis" class="text-danger">
        Daily Income Analysis
      </a>
    </li>
    <li>
      <a href="{{routePath}}/mission-station-analysis" class="text-danger">
        Mission Station Analysis
      </a>
    </li>
    <li>
      <a href="{{routePath}}/rof-control-analysis" class="text-danger">
        R.O.F Control Analysis
      </a>
    </li>
  </ul>
</div>
