<h3>Users</h3>
<hr />

<table class="table table-sm table-striped">
  <thead style="font-variant: small-caps;">
    <tr>
      <th scope="col">s-no</th>
      <th scope="col">full-name</th>
      <th scope="col">contact-info</th>
      <th scope="col">status</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
    {{#if users}}
      {{#each users as |user index|}}
        <tr>
          <td scope="row">{{computeSno index}}.</td>
          <td>
            <strong>{{user.last_name}}</strong>
            {{user.first_name}}
          </td>
          <td>
            <small class="text-danger font-weight-bold d-block-x">
              {{user.email}}
            </small>
            <small class="text-muted d-block-x"> | {{user.phone}}</small>
          </td>
          <td>
            {{#if user.active}}
              <span class="badge badge-info">ACTIVE</span>
            {{else}}
              <span class="badge badge-danger">INACTIVE</span>
            {{/if}}
          </td>
          <td>---</td>
        </tr>
      {{/each}}
    {{/if}}
  </tbody>
</table>